body {
	background: #4B9CD3;
	margin-left: 100px;
	margin-right: 100px;
}
.button {
    background-color: #99badd;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
}

.button1 {border-radius: 40px;}
.button2 {border-radius: 50%;}
.button3 {border-radius: 20%;}
.button4 {border-radius: 20px;}

#perObject, #dvdObjects {
	display: none;
}

hr {
	border: solid .5px white;
}